.h1 {
    position-child: center;
	width: 350px;
	margin-bottom: 20px;
	border: 5px solid #fff;
	border-top: 5px solid #fff;
	border-bottom: 3px solid #fff;
	border-collapse: collapse;
	border-radius: 15px;
	outline: 10px solid #ffd300;
	font-size: 20px;
}